@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    font-size: 1.7rem;
    height: auto;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 19.89px;
    color: #2d2e32;
    font-weight: 900;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul a {
    font-family: 'Open Sans', sans-serif;
    color: #2d2e32;
    font-weight: 700;
    text-decoration: none;
    transition: all .23s;
    font-size: 17px;
}

nav ul a:hover {
    color: #147efb;
    transition: color 0.5s ease;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 2.3rem;
}

.mobile-nav-toggle {
    background-color: none;
}

.mobile-navigation {
    display: none;
}

mobile-nav-link {
    display: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    margin: 0 auto;
    max-width: 93rem;
    padding: 0 4rem;
    background-color: #f9f9f9;
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
    background-color: #f9f9f9;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
    font-weight: bolder;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.hero-text img {
    height: 6rem;
    position: absolute;
    right: 13rem;
    top: 8.7rem;
    width: 6rem;
}

.hero-text p {
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-img {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url("me.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
}

.hero-text span {
    list-style-type: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    gap: 3rem;
    margin: 2.5rem 0;
}

.hero-text span a {
    color: black;
}

.hero-text span a:hover {
    color: #147efb;
    transition: color 0.5s ease;
}

.skills {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

.skills p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: 'Mulish',sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li {
    cursor: pointer;
}

.skills ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
}

.about {
    background-color: #fff;
    padding: 15rem 0;
}

.about-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.img-side {
    position: relative;
}

.img-side__main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}

.text-side {
    padding-right: 1.5rem;
}

.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side h4 {
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text-side p {
    color: #767676;
    font-family: Mulish,sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

.projects {
    background-color: #f9f9f9;
    padding: 15rem 0;
}

.project-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-content p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.project-content h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 6rem;
}

.projects-grid {
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
}

.projects-grid .pro__1 {
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

.projects-grid .pro {
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
}

.projects-grid .pro__img {
    display: flex;
    align-items: center;
    background-color: hsla(0,0%,46%,.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    height: auto;
    overflow: hidden;
    width: 53rem;
}

.projects-grid .pro__img img {
    height: auto;
    width: 100%;
}

.projects-grid .pro__text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

.projects-grid .pro__text h3 {
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: 1.6rem;
    gap: 0.2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}

.date-class {
    color: hsla(0,5%,8%,.773);
    font-size: 1.4rem;
    margin-left: 0.2rem;
}

.projects-grid .pro__text p {
    color: #767676;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    font-family: 'Poppins','sans-serif';
}

.stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.stack p {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #000!important;
    font-family: Mulish,sans-serif!important;
    font-weight: 600!important;
    padding: 1rem 1.3rem;
}

.contact {
    background-color: #fff;
    padding: 11rem 0;
}

.contact-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.contact_content {
    display: flex;
    flex-direction: column;
}

.contact_title p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins','sans-serif';
}

.contact_title h3 {
    color: #2d2e32;
    font-size: 2.5rem;
    font-family: 'Poppins','sans-serif';
}

.contact_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

.contact_icon-box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contact_icon-box span {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.contact_icon-box .dot {
    color: #147efb;
    font-size: 25px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact_info h3 {
    color: #2d2e32;
    font-size: 1.7rem;
}

.contact_info p {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact_info p:hover {
    color: #147efb;
    transition: color 0.5s ease;
}

.contact_info a {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.contact_info a:hover {
    color: #147efb;
    transition: color 0.5s ease;
}

.contact_icon-box .mail {
    color: #147efb;
    font-size: 25px; 
}

footer {
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
}

footer h3 {
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Poppins','sans-serif';
}

.footer-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.footerc {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footerc_socials {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.footerc_socials a {
    color: #fff;
    font-size: 3rem;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media (max-width: 1020px) {
    .about {
        padding: 8rem 0;
    }

    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .img-side__main-img {
        margin-bottom: 3.5rem;
    }

    .text-side {
        margin: 0 auto;
        max-width: 54rem;
    }

    .project {
        padding: 8rem 0;
    }

    .projects-grid .pro__1 {
        flex-direction: column!important;
        gap: 3rem;
        height: 75rem;
        margin: 0 auto;
    }

    .projects-grid .pro__text {
        margin: 0 auto;
    }

    .contact {
        padding: 8rem 0;
    }
}

@media (max-width: 900px) {
    .nav-link {
        display: none;
    }

    .mobile-menu {
        display: flex;
        background-color: white;
    }

    .mobile-menu:hover {
        color: #147efb;
        transition: color 0.5s ease;
    }

    .mobile-navigation {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        inset: 0 0 0 0;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        background-color: white;
        text-align: center;
    }

    .mobile-navigation ul a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Poppins','sans-serif';
    }

    .mobile-navigation ul a:hover {
        color: #147efb;
        transition: color 0.5s ease;
    }

    .mobile-navigation ul {
        display: flex;
        flex-direction: column;
        font-size: 2.3rem;
        gap: 4rem;
        list-style: none;
    }

    .mobile-navigation span {
        cursor: pointer;
        font-size: 3.3rem;
        position: absolute;
        right: 4rem;
        top: 2rem; 
    }
    
   .mobile-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .hero {
        height: auto;
        padding: 10rem 0;
        background-color: #f9f9f9;
    }

    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text img {
        right: 3rem;
    }

    .hero-text span {
        justify-content: center;
    }

    .hero-img {
        height: 28rem;
        width: 28rem;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills p {
        border-bottom: 2px solid rgba(45,46,50,.5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .skills ul {
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .contact_title {
        text-align: center;
    }

    .contact_icons {
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        text-align: center;
    }

    .contact_icon-box {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .projects-grid .pro__img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .project-content {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .footerc {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text img {
        height: 4.5rem;
        right: 4rem;
        top: 6.4rem;
        width: 4.5rem;
    }
}

@media (max-width: 460px) {
    .about-container {
        padding: 0 1.7rem;
    }

    .img-side__main-img {
        height: auto;
        width: 90%;
    }

    .project-container {
        padding: 0 1.7rem;
    }

    .contact-container {
        margin: 0 auto;
        max-width: 107rem;
        padding: 0 4rem;
    }

    .footer-container {
        padding: 0 1.7rem;
    }
}

@media (max-width: 400px) {
    .projects-grid .pro__1 {
        width: 100%;
    }

    .projects-grid .pro__text {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .hero-text img {
        right: 1rem;
    }
}